.App {
  padding-left: 1em;
}

.App-title {
  font-size: 1.5em;
}

th,
td {
    text-align: left;
    vertical-align: text-top;
}

.compoundMember {
    background: yellow;
}

.key_signedCents {
    text-align: right;
}

.hidden {
    display: none;
}